@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,900;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
h3{
    text-align: center;
    color: brown;}
h1{
    text-align: center;
    color:chocolate;
    font-family: 'Italianno', cursive;
}
p{
    text-align: center;
    color: chocolate;
    padding-left: 3%;
    padding-right: 3%;
}
.parent{
    position: relative;
    width: 100%;
    height:700px;
    background-image: url("./images/res1.jpg")
}
.child1{
    width: 238px;
    height: 314px;
    position: absolute;
    margin-left: 7%;
    color:chocolate;
}
.child2{
    width: 238px;
    height: 314px;
    position: absolute;
    margin-top: 3%;
    margin-left: 42%;
}
.child3{
    width: 238px;
    height: 314px;
    position: absolute;
    margin-left: 75%;
    color: chocolate;
}
h5{
    text-align: center;
    color: blueviolet;
}
h6{
text-align: center;
font-family: font-family: 'Abril Fatface', cursive;
color: rgb(253, 76, 11);
font-size: 150%;
}
.container1{
    background-image: url("./images/im\ 5.jpg");
}
.row{
    margin-left: 2%;
}
.parent1{
    position: relative;
    width: 100%;
    height: 350px;
    background-image: url("./images/indoor.jpg");
background-size: cover;
}
.child4{
    width: 250px;
    height: 220px;
    margin-left: 20%;
    margin-top: 3%;
    position:absolute
}
.child5{
    margin-left: 70%;
    margin-top: 10%;
    position: absolute;
}
h4{
    color:white;
    text-align: center;
}
.parent2{
    width: 100%;
    height: 230px;
    
    position: relative;
}
.child6{
height: 200px;
width: 150px;
margin-left: 5%;
margin-top: 2%;
position: absolute;
}
.child7{
    position: absolute;
    height: 100px;
    width: 150px;
    margin-left: 86%;
    margin-top: 2%;
    margin-right:5% ;
   
    }
 #location{
        text-align: left
}
#contact{
    text-align: left;
}
.child8{
    position: absolute;
    width: 250px;
    margin-left:38% ;
    margin-top: 9%;
    justify-content: space-between;
    display: flex;

}
    #email{
        text-align: left;
    }
    ul{
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }

    